[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = US
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = California
localityName                = Locality Name (eg, city)
localityName_default        = San Francisco
organizationName            = housepricing@realestate.com (eg, company)
organizationName_default    = My Company
organizationalUnitName      = Organizational Unit Name (eg, section)
organizationalUnitName_default = IT Department
commonName                  = Hartej (e.g. server FQDN or YOUR name)
commonName_max              = 64

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:true
